@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body_background: white;
  --body_color: black;
  --link_color: #7481e4;
}

[data-theme="dark"] {
  --body_background: #1c1e21;
  --body_color: white;
  --link_color: rgb(200, 235, 235);
}


body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--link_color);
  background-color: var(--body_background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
